<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <meta name="description" content="Warcraft Logs - Character Ranking - Scrappie"/>
    <meta name="keywords" content="weakauras, weakaura, weakaura strings, class, tellmewhen, macro, macros,
                                   Scrappie, WowScrappie, Warcraftlogs, Ranking, Character Ranking, Personal Ranking"/>
    <title>Tier 18 - Hellfire Citadel - Tier Distribution</title>
    <link th:href="@{/assets/dynatable/jquery.dynatable.css}" rel="stylesheet"/>
    <link th:href="@{/assets/js/c3/c3.min.css}" rel="stylesheet"/>
</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Filter on tokens</label>
                    <select id="tokenSelection" class="form-control"
                            data-bind="options: availableTokens, selectedOptions: chosenTokens, event:{ change: tokenSelected}"
                            size="5" multiple="true"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered" id="myTable">
                    <thead>
                    <tr>
                        <th data-dynatable-column="className">class</th>
                        <th>spec</th>
                        <th>token</th>
                        <th data-dynatable-column="normalDps">normal dps</th>
                        <th data-dynatable-column="twoPiece">2-set</th>
                        <th data-dynatable-column="fourPiece">4-set</th>
                        <th data-dynatable-column="normalToTwo">0-2set gain</th>
                        <th data-dynatable-column="twoToFour">2-4set gain</th>
                        <th data-dynatable-column="totalGain">total gain</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br /><br />
                <div id="dpsChart"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <br /><br />
                <div id="gainChart"></div>
            </div>
        </div>



    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
<div layout:fragment="footer-content">
    <script th:src="@{/assets/dynatable/jquery.dynatable.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
    <script th:src="@{/assets/js/c3/c3.min.js}"></script>
    <script th:src="@{/assets/js/custom/tools/tierdistribution/t18.js}"></script>
</div>

</html>