.gradle/
build/
out/
.idea/
*.iml
src/main/resources/config/application.properties
gradle/
gradlew
gradlew.bat
application.pid
application-development.properties
application-local.properties
application-production.properties
application-integrationtest.properties
scrappie-startup.sh
