<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>

</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Your Inbox</h2>

                    <div class="alert alert-warning" th:if="${inbox.size() == 0}">
                        Unfortunately, there are no messages in your inbox. We'll be implementing the feature to message other people later.
                        In the meantime, if anything is up, admins might contact you. If you wish to do so, you can always contact an Admin on our
                        <br />
                        <a th:href="@{/contact}" class="btn btn-raised btn-primary">Contact Page</a>
                    </div>

                    <div sec:authorize="hasRole('ROLE_ADMIN')" class="alert alert-success" th:if="${inbox.size() == 0}">
                        Oh hey there :). I didn't see you actually were an admin, you may always send someone a message! :3.
                        But not now, still not finished implementing :P
                    </div>

                    <div class="table-responsive" th:if="${inbox.size() > 0}">
                        <table class="table table-striped table-bordered table-hover" id="myTable">
                            <thead>
                            <tr>
                                <th>when?</th>
                                <th>from</th>
                                <th>title</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="inboxElement, iterStat : ${inbox}"
                                th:class="${iterStat.odd}? 'gradeA' : 'gradeC'">
                                <td th:text="${inboxElement.when}">just now</td>
                                <td th:text="${inboxElement.from}">Type</td>
                                <td th:text="${inboxElement.title}">whatFor</td>
                                <td>
                            <span th:attr="data-root_message_id=${inboxElement.id}"
                                  class="viewButton btn btn-success btn-sm"> <i class="mdi-maps-local-library"></i> view</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class="row">

                <div id="resultPane" class="col-md-12">

                </div>

            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script type="text/javascript">

        $('#myTable').dataTable();

        var InboxVM  = function() {
            var self = this;
        }

        var inboxVM = new InboxVM;
        ko.applyBindings(inboxVM);

        $(".viewButton").click(function() {
            $.get("/personal/inbox/message/" + $(this).data("root_message_id"), function(data) {
                $("#resultPane").html(data);
            });
        });
    </script>

</div>

<div th:fragment="message-not-found">
    <div class="alert alert-danger">That message was unfortunately not found :(</div>
</div>

<div th:fragment="message-details">
    <br />
    <br />
    <hr />
    <div class="alert alert-warning" th:if="${allMessages.size() == 0}">Unfortunately, the message was not found</div>

    <div class="chat-panel panel panel-default chat-boder chat-panel-head" th:if="${allMessages.size() > 0}">
        <div class="panel-heading">
            <i class="fa fa-comments fa-fw"></i>
            <span th:text="${originalPM.title}"></span>
            <input id="originalPmId" type="hidden" th:value="${originalPM.id}"/>
        </div>

        <div class="panel-body">
            <ul class="chat-box">
                <li th:each="singleMessage : ${allMessages}" th:class="${!singleMessage.inward}? 'left clearfix' : 'right clearfix'">
                     <span th:class="${singleMessage.inward}? 'pull-left chat-img' : 'pull-right chat-img'" >

                     </span>
                    <div class="chat-body">

                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i><span th:text="${singleMessage.when}"></span>
                        </small>
                        <strong th:text="${singleMessage.sender}"></strong>
                        <p th:text="${singleMessage.content}">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>


                </li>
            </ul>
        </div>

        <div class="panel-footer">
            <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="reply to the message" />
                                <span class="input-group-btn">
                                    <button id="btnSend" class="btn btn-warning btn-sm">
                                        Send
                                    </button>
                                </span>
            </div>
        </div>

    </div>


    <div class="scripts">
        <script type="application/javascript">
            $("#btnSend").click(function() {
                var originalPmId = $("#originalPmId").val();
                var content = $("#btn-input").val();
                var command = {};
                var doPost = true;

                command['originalMessageId'] = originalPmId;
                command['content'] = content;

                var stringyfiedCommand = JSON.stringify(command);

                if(doPost) {
                    var request = $.ajax({
                        url: '/personal/inbox/reply',
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: stringyfiedCommand, //Stringified Json Object
                        cache: false,    //This will force requested pages not to be cached by the browser
                        processData: false, //To avoid making query String instead of JSON
                        success: function (resposeJsonObject) {
                            $("#resultPane").html(resposeJsonObject);
                        }
                    });
                    request.fail(function(jqXHR, textStatus) {
                        $("#btn-input").val('');
                        console.log("something went wrong yo");
                    });
                }
            });

        </script>
    </div>

</div>

</html>