<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator">
<div layout:fragment="header"><link th:href="@{/assets/css/dropzone/dropzone.css}" rel="stylesheet"/>
</div>
<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Contribute your configuration!</h2>
            </div>
        </div>
        <!-- /. ROW  -->
        <hr/>
        <div class="row">

            <div class="col-md-4" id="initialChoice">
                <h3>What Kind?</h3>

                <p>
                    First of all, there are 2 categories in which we can put our configurations.
                    There's a category for <b>bossfights</b> and a category for <b>classes and spec specific
                    configurations</b>.
                </p>

                <p>Click on one of the options to start your contribution.</p>

                <hr/>
                <span  id="bossFightBtn" data-bind="click: chooseBossFight"
                      class="btn btn-primary btn-lg">Bossfights</span>
                <span data-toggle="popover" title="Choose an option" data-placement="right"
                      data-content="Please choose a valid option here first"
                      id="classSpecBtn" data-bind="click: chooseClassSpec" class="btn btn-primary btn-lg">Classes and Specs</span>
            </div>

            <div class="col-md-2">
                <h3>Type</h3>

                <div class="form-group">
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionWA" value="weakaura"
                                   checked="">Weakaura</input>
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionTMW"
                                   value="tellmewhen">TellMeWhen</input>
                        </label>
                    </div>
                    <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionMacro" value="macro">Macro</input>
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div id="details"></div>
            </div>

        </div>

        <hr/>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" id="actualInformation">

                <div id="alertThankYou" class="alert alert-success alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Thank You!</strong> Thank you for submitting your information. An admin will look into it soon!
                </div>

                <div id="alertChooseOption" class="alert alert-danger alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> Please Choose an option (Bossfight or Class/Spec) before submitting the
                    form.
                </div>

                <div id="alertAddCaption" class="alert alert-danger alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> Please add a caption before submitting the form
                </div>

                <div id="alertAddString" class="alert alert-danger alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> Please add the actual string before submitting the form.
                </div>

                <div id="alertAddComments" class="alert alert-warning alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> We advise you to add some comments. It'll have greater success in getting
                    added with some more information.
                </div>

                <div id="alertChooseCategory" class="alert alert-danger alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> Please Choose a category (Weakaura, TMW, Macro) before submitting the
                    form.
                </div>


                <div id="tmw_string" data-bind="visible: showTMW">
                    <div class="form-group">
                        <input id="tmw_caption" class="form-control floating-label"
                               placeholder="Caption"
                               data-hint="A good caption will help people to find back your TMW-String"/>

                    </div>
                    <br />
                    <br />
                    <textarea id="actual_tmw_string" class="form-control floating-label" placeholder="Paste your tmw-string" rows="8"></textarea>
                    <br />
                    <br />
                    <div class="form-group">
                        <textarea id="tmw_comments" class="form-control floating-label" placeholder="Comments" rows="5"></textarea>
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label>Add Screenshots</label>

                        <form id="tmw-dropzone" th:action="@{/contribute/cachescreenshot}" class="dropzone"></form>
                    </div>
                    <span class="btn btn-primary" data-bind="click: submitContribution"> <i class="mdi-navigation-check"></i> Submit</span>
                </div>

                <div id="weakaura_string" data-bind="visible: showWA">
                    <div class="form-group">
                        <input id="wa_caption" class="form-control floating-label"
                                placeholder="Caption"
                                data-hint="A good caption will help people to find back your WeakAura"/>
                    </div>
                    <br />
                    <br />
                    <textarea id="actual_weakaura_string" class="form-control floating-label"
                              placeholder="Paste the WeakAura-String" rows="8"></textarea>
                    <br />
                    <br />
                    <div class="form-group">
                        <textarea id="wa_comments" class="form-control floating-label"
                                  placeholder="Comments" rows="5"></textarea>
                    </div>

                    <hr/>
                    <div class="form-group">
                        <label>Add Screenshots</label>

                        <form th:action="@{/contribute/cachescreenshot}"
                              class="dropzone"
                              id="wa-dropzone">
                        </form>
                    </div>
                    <span class="btn btn-primary btn-raised" data-bind="click: submitContribution"> <i class="mdi-navigation-check"></i> Submit</span>

                </div>

                <div id="macro_string" data-bind="visible: showMacro">
                    <div class="form-group">
                        <input id="macro_caption" class="form-control floating-label"
                               placeholder="Caption"
                               data-hint="A good caption will help people to find back your Macro" />
                    </div>
                    <br />
                    <br />
                    <textarea id="actual_macro_string" class="form-control floating-label" placeholder="Paste the Macro" rows="8"></textarea>
                    <br />
                    <br />
                    <div class="form-group">
                        <textarea id="macro_comments" class="form-control floating-label" placeholder="Comments" rows="5"></textarea>
                    </div>
                    <span class="btn btn-primary" data-bind="click: submitContribution"> <i class="mdi-navigation-check"></i> Submit</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dropzone/dropzone.js}"/>
    <script th:src="@{/assets/js/custom/contribution.js}"/>
    <script type="application/javascript">
              Dropzone.options.tmwDropzone = {
            maxFilesize: 1,
            addRemoveLinks: false,
            clickable: true,
            acceptedFiles: 'image/*',
            init: function () {
                this.on('success', function (file, response) {
                    response.forEach(function (entry) {
                        actualInfoModel.uploadedTMWReferences.push(entry);
                    });
                });
            }
        };
        Dropzone.options.waDropzone = {
            maxFilesize: 1,
            addRemoveLinks: false,
            clickable: true,
            acceptedFiles: 'image/*',
            init: function () {
                this.on('success', function (file, response) {
                    response.forEach(function (entry) {
                        actualInfoModel.uploadedWAReferences.push(entry);
                    });
                });
            }
        };
    </script>
</div>

</html>