<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <springProfile name="development, production">
        <logger name="com.deswaef" level="INFO"/>
    </springProfile>
    <springProfile name="local">
        <logger name="com.deswaef" level="INFO"/>
    </springProfile>
</configuration>