<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta name="_disqusname" th:content="${@environment.getProperty('com.deswaef.scrappie.disqusname')}"/>
    <!--    <meta name="description" content="wowscrappie provides you with a commonplace to share your weakauras, tellmewhens and macros, created by and for the community." />
        <meta name="keywords" content="weakauras, weakaura, weakaura strings, class, tellmewhen, macro, macros, spec,
                                        hunter, druid, warlock, paladin, shaman,
                                        death knight, mage, monk, priest, rogue, warrior" />-->

    <!--    <meta name="_csrf" th:content="${_csrf.token}"/>
        &lt;!&ndash; default header name is X-CSRF-TOKEN &ndash;&gt;
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <!-- ... -->
    <!-- BOOTSTRAP STYLES-->
    <link th:href="@{/assets/css/bootstrap.css}" rel="stylesheet"/>
    <!-- FONTAWESOME STYLES-->
    <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"/>
    <!-- MORRIS CHART STYLES-->
    <link th:href="@{/assets/js/morris/morris-0.4.3.min.css}" rel="stylesheet"/>
    <!-- CUSTOM STYLES-->
    <link th:href="@{/assets/css/custom.css}" rel="stylesheet"/>

    <link th:href="@{/assets/classicons/classicons.css}" rel="stylesheet"/>
    <!-- GOOGLE FONTS-->
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans}" rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" th:href="@{/assets/fancybox/jquery.fancybox.css?v=2.1.5}" type="text/css" media="screen"/>

    <link th:href="@{/assets/material_design/css/roboto.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/material_design/css/material.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/material_design/css/ripples.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/snackbar/snackbar.min.css}" rel="stylesheet"/>
    <link th:href="@{/assets/snackbar/snackbar-material.min.css}" rel="stylesheet"/>
    <div layout:fragment="header"></div>
    <link th:href="@{/assets/css/notifications.css}" rel="stylesheet"/>

</head>


<body>
<div id="wrapper">
    <nav role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="pull-right" style="margin-right: 15px;">
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <li>
                        <div id="logoutBinder" sec:authorize="!isAuthenticated()" style="color: white;
        padding: 0px 15px 5px 50px;
        font-size: 16px;" class="pull-right">  &nbsp;
                            <a th:href="@{/login}" class="btn btn-success square-btn-adjust">Login</a>
                        </div>
                    </li>
                    <!-- settings start -->
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme" id="notificationCount"></span>
                        </a>
                        <ul id="dropdown-menu-frag" class="dropdown-menu extended tasks-bar">

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /. NAV TOP  -->
    <div class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img th:src="@{/assets/img/scrappie.jpg}" class="user-image img-responsive"/>
                </li>


                <li>
                    <a class="active-menu" th:href="@{/}"><i class="fa fa-dashboard fa-2x"></i> News</a>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#"><i class="fa fa-th fa-2x"></i> Administration<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a th:href="@{/admin/users}"> User Management</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/server}"> Server Information</a>
                        </li>
                        <li>
                            <a th:href="@{/interface/reports}"> Reports</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/pending-uploads}"> Pending Uploads</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/registration/invitation}"> Create Invitation </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/requested-invitations}"> Requested Invitations</a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a th:href="@{/questions}"><i class="fa fa-question-circle fa-2x"></i> Questions!</a>
                </li>

                <li sec:authorize="hasRole('ROLE_USER')">
                    <a href="#"><i class="fa fa-question-circle fa-2x"></i> Questions<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/questions}"> Questions</a>
                        </li>
                        <li>
                            <a th:href="@{/questions/new}"> New Question</a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasRole('ROLE_USER')">
                    <a href="#"><i class="fa fa-user fa-2x"></i> Personal<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/personal/uploads}"> Your uploads </a>
                        </li>
                        <li>
                            <a th:href="@{/personal/inbox}"> Your inbox </a>
                        </li>
                        <li>
                            <a th:href="@{/profiles/edit}"> Edit your profile </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-fighter-jet fa-2x"></i> Raids<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/raids/1}"> Highmaul </a>
                        </li>
                        <li>
                            <a th:href="@{/raids/2}"> Blackrock Foundry
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/raids/3}"> <span class="label label-success">[new]</span> Hellfire Citadel
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-wrench fa-2x"></i> <span>Classes</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">

                        <li>
                            <a th:href="@{/classes/general}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_gameplay"></span> General </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/death_knight}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_death_knight"></span> Death
                                Knight</a>
                        </li>

                        <li>
                            <a th:href="@{/classes/druid}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_druid"></span> Druid </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/hunter}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_hunter"></span> Hunter </a>

                        </li>

                        <li>
                            <a th:href="@{/classes/mage}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_mage"></span> Mage </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/monk}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_monk"></span> Monk </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/paladin}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_paladin"></span>
                                Paladin </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/priest}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_priest"></span> Priest </a>

                        </li>


                        <li>
                            <a th:href="@{/classes/rogue}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_rogue"></span> Rogue </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/shaman}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_shaman"></span> Shaman </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/warlock}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_warlock"></span>
                                Warlock </a>
                        </li>

                        <li>
                            <a th:href="@{/classes/warrior}"> <span
                                    class="sprite_menu_titles sprite_menu_titles_warrior"></span>
                                Warrior </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog fa-2x"></i> Tools<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a th:href="@{/warcraftlogs/character}"> Character Rankings</a>
                        </li>
                        <li>
                            <a th:href="@{/tools/tierdistribution/t18}"> Tier 18 Dps Gains</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/contribute}"><i class="fa fa-laptop fa-2x"></i> Contribute!</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}"><i class="fa fa-sign-out fa-2x"></i> Logout!</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-outer" style="margin-top: 33px;">
            <div layout:fragment="main-content"></div>
        </div>
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
<!-- JQUERY SCRIPTS -->
<!-- BOOTSTRAP SCRIPTS -->
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- METISMENU SCRIPTS -->
<script th:src="@{/assets/js/jquery.metisMenu.js}"></script>
<!-- CUSTOM SCRIPTS -->
<script th:src="@{/assets/js/custom.js}"></script>
<script th:src="@{/assets/js/knockout.js}"></script>
<script th:src="@{/assets/js/analytics.js}"/>


<script th:src="@{/assets/material_design/js/ripples.min.js}"></script>
<script th:src="@{/assets/material_design/js/material.min.js}"></script>
<script th:src="@{/assets/snackbar/snackbar.min.js}"></script>
<script>
    $(document).ready(function () {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>

<script th:src="@{/assets/js/sockjs/sockjs.min.js}"></script>
<script th:src="@{/assets/js/stomp/lib/stomp.min.js}"></script>
<script th:src="@{/assets/js/websockets.js}"></script>


<audio sec:authorize="isAuthenticated()" id="Mp3Me" style="visibility: hidden;" autobuffer="autobuffer"
       preload="preload">
    <source th:src="@{/shared/sound/notification}"/>
</audio>


<div sec:authorize="isAuthenticated()">
    <script type="application/javascript">
        (function () {
            var socket = new SockJS('/messages');
            var stompClient = Stomp.over(socket);
            var appModel = new ApplicationModel(stompClient);
            appModel.connect();
        })();
    </script>
</div>

<div layout:fragment="footer-content"></div>

</body>
</html>




