<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>
    <title th:text="${wowclass.name} + ' - Scrappie'">Generate Invitation - Scrappie</title>
    <meta name="description" th:content="${wowclass.name} + ' - WeakAuras, TellMeWhens and Macros - Scrappie'" />
    <meta name="keywords" th:content="${wowclass.name} + ', ' + ${specnames}  + ', weakauras, weakaura, class, tellmewhen, macro, macros, spec'" />
</div>

<div layout:fragment="main-content">
    <div id="page-inner">

        <div id="top-wrapper">
            <input id="wowclass" type="hidden" th:value="${wowclass.slug}" />
            <div class="row" th:if="${wowclass.slug.equals('general')}">
                <div class="col-md-offset-1 col-md-10 alert alert-success">
                    This is a section for some more general configurations, not specifically related to any class,
                    categorized into PvP, PvE and Miscellaneous.
                </div>
            </div>

            <div class="row" th:if="${!wowclass.slug.equals('general')}">
                <div class="col-md-12">
                    <div class="col-md-12 text-center">
                        <h2 th:text="${wowclass.name}"></h2>
                        <img th:src="@{'/assets/img/classes/' + ${wowclass.slug} + '/' + ${wowclass.slug} + '.png'}"/>

                    <span data-bind="click: wowClassChosen"
                          th:attr="data-wowclass_slug=${wowclass.slug}, data-string_type=macro"
                          class="btn btn-primary btn-sm">Macros <span
                            class="badge" th:text="${wowclass.macroAmount}"></span></span>
                    <span data-bind="click: wowClassChosen"
                          th:attr="data-wowclass_slug=${wowclass.slug}, data-string_type=weakaura"
                          class="btn btn-primary btn-sm">WeakAuras <span class="badge"
                                                                         th:text="${wowclass.waAmount}"></span></span>
                    <span data-bind="click: wowClassChosen"
                          th:attr="data-wowclass_slug=${wowclass.slug}, data-string_type=tellmewhen"
                          class="btn btn-primary btn-sm">TellMeWhen <span class="badge"
                                                                          th:text="${wowclass.tmwAmount}"></span></span>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->

            <hr/>
            <div class="row" th:if="${!wowclass.slug.equals('general')}">
                <div th:switch="${specs.size()}">
                    <div th:case="'3'">
                        <div th:each="spec : ${specs}">
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <div class="panel panel-back noti-box">
                                <span class="icon-box set-icon">
                                    <img th:src="@{'/assets/img/classes/' + ${wowclass.slug} + '/' + ${spec.slug} + '.jpg'}"/>
                                </span>

                                    <div class="text-box">
                                        <div class="row">
                                            <p class="main-text" th:text="${spec.name}">Spec1</p>
                                        </div>
                                        <div class="row">
                                            <p class="text-muted">
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=macro"
                                                  class="btn btn-primary btn-sm">Macros <span class="badge"
                                                                                              th:text="${spec.macroAmount}"></span></span>
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=weakaura"
                                                  class="btn btn-primary btn-sm">WeakAuras <span class="badge"
                                                                                                 th:text="${spec.waAmount}"></span></span>
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=tellmewhen"
                                                  class="btn btn-primary btn-sm">TellMeWhen <span class="badge"
                                                                                                  th:text="${spec.tmwAmount}"></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:case="'4'">
                        <div th:each="spec : ${specs}">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="panel panel-back noti-box">
                                <span class="icon-box set-icon">
                                    <img th:src="@{'/assets/img/classes/' + ${wowclass.slug} + '/' + ${spec.slug} + '.jpg'}"/>
                                </span>

                                    <div class="text-box">
                                        <div class="row">
                                            <p class="main-text" th:text="${spec.name}">Spec1</p>
                                        </div>
                                        <div class="row">
                                            <p class="text-muted">
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=macro"
                                                  class="btn btn-primary btn-sm">Macros <span class="badge"
                                                                                              th:text="${spec.macroAmount}"></span></span>
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=weakaura"
                                                  class="btn btn-primary btn-sm">WeakAuras <span class="badge"
                                                                                                 th:text="${spec.waAmount}"></span></span>
                                            <span data-bind="click: specChosen"
                                                  th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=tellmewhen"
                                                  class="btn btn-primary btn-sm">TellMeWhen <span class="badge"
                                                                                                  th:text="${spec.tmwAmount}"></span></span>
                                            </p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="row" th:if="${wowclass.slug.equals('general')}">
                <div th:each="spec : ${specs}">
                    <div class="col-md-4 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">
                            <div class="text-box">
                                <div class="row">
                                    <p class="main-text" th:text="${spec.name}">Spec1</p>
                                </div>
                                <div class="row">
                                    <p class="text-muted">
                                    <span data-bind="click: specChosen"
                                          th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=macro"
                                          class="btn btn-primary btn-sm">Macros <span class="badge"
                                                                                      th:text="${spec.macroAmount}"></span></span>
                                    <span data-bind="click: specChosen"
                                          th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=weakaura"
                                          class="btn btn-primary btn-sm">WeakAuras <span class="badge"
                                                                                         th:text="${spec.waAmount}"></span></span>
                                    <span data-bind="click: specChosen"
                                          th:attr="data-spec_slug=${spec.slug}, data-wowclass_slug=${wowclass.slug}, data-string_type=tellmewhen"
                                          class="btn btn-primary btn-sm">TellMeWhen <span class="badge"
                                                                                          th:text="${spec.tmwAmount}"></span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div id="expand-button" class="row">
            <img id="arrowUpBtn" th:src="@{/assets/img/button_up.png}"/>
            <img id="arrowDownBtn" th:src="@{/assets/img/button_down.png}" style="display: none"/>
        </div>
        <hr/>

        <div class="row" style="margin-top: 5%;">
            <div id="resultPane" class="col-md-offset-1 col-md-10">
            </div>
        </div>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/sliding.js}"/>
    <script th:src="@{/assets/js/history.js}"></script>
    <script type="application/javascript" th:src="@{/assets/js/custom/specs.js}"></script>

    <script type="text/javascript" th:src="@{/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5}"/>

</div>

</html>