<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>

</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h3>Invitation Requests</h3>

                    <div id="deleteFail" class="alert alert-danger alert-dismissible collapse" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong> Failed to delete the invitation!
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="myTable">
                        <thead>
                        <tr>
                            <th>email</th>
                            <th>reason</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ir, iterStat : ${invitationRequests}"
                            th:class="${iterStat.odd}? 'gradeA' : 'gradeC'">
                            <td th:text="${ir.email}">Name</td>
                            <td th:text="${ir.reason}">1123154</td>
                            <td>
                                <span th:attr="data-ir_id=${ir.id}"
                                        class="deleteButton btn btn-primary">delete</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script type="application/javascript">
        /*<![CDATA[*/
        $('#myTable').dataTable();

        $(".deleteButton").click(function() {
            $.get('/admin/requested-invitations/' + $(this).data('ir_id'), function (data) {
                if(data === false) {
                    $("#deleteFail").show();
                } else {
                    window.location = "/admin/requested-invitations";
                }
            });
        });

        /*]]>*/
    </script>
</div>


<div th:fragment="detail">
    <h3>Details of <span th:text="${user.username}"></span></h3>

    <div class="alert alert-info">I dont even if it's useful to show anything here atm :P</div>
</div>

<div th:fragment="notfound">
    <h3>Specied user was not found</h3>
</div>

</html>