<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">
<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>We so sorry!</h1>
                <div class="alert alert-danger">The user you are searching for could not be found :(.</div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
</html>