<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div layout:fragment="header">
    <link th:href="@{/assets/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet"/>
    <title th:text="${profile.userName + '''s Profile - Scrappie'}"></title>
</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-10">
                <h2 th:if="${canEdit}">Your Profile</h2>

                <h2 th:if="${canEdit == false}" th:text="${profile.userName + '''s Profile'}"></h2>
            </div>
            <div class="col-md-2">
                <a th:if="${canEdit}" class="btn btn-default btn-raised pull-right" th:href="@{/profiles/edit}">Edit
                    Profile</a>
            </div>
        </div>
        <br/><br/>

        <div class="row">
            <div class="col-md-6">
                <h3>About Me!</h3>
                <blockquote class="commentBox">
                    <span th:if="${profile.aboutMe != null AND profile.aboutMe != ''}"
                          th:text="${profile.aboutMe}"></span>
                    <span th:if="${profile.aboutMe == null || profile.aboutMe == ''}">
                        I don't have anything in particular to mention yet.
                    </span>
                    <small th:text="${profile.userName + ' on wowscrappie.com'}"></small>
                </blockquote>
            </div>
            <div class="col-md-6" th:if="${profile.was != 0 || profile.tmws != 0 || profile.macros != 0}">
                <h3>Contributions by <span th:text="${profile.userName}"></span></h3>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                    </div>

                </div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="ScrappieWoW"
                   data-size="large" data-count="none">Tweet</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + '://platform.twitter.com/widgets.js';
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, 'script', 'twitter-wjs');</script>
            </div>
        </div>

        <br/><br/>

        <div class="row">
            <input id="waCount" type="hidden" th:value="${profile.was}"/>
            <input id="macroCount" type="hidden" th:value="${profile.macros}"/>
            <input id="tmwCount" type="hidden" th:value="${profile.tmws}"/>

            <div class="col-md-4 col-sm-8 col-xs-8">
                <div id="waBox" class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${profile.was}">120</p>

                        <p class="text-muted">WeakAuras</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div id="tmwBox" class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${profile.tmws}">30</p>

                        <p class="text-muted">TMW-Configs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div id="macroBox" class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${profile.macros}">240</p>

                        <p class="text-muted">Macros</p>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div class="row" th:if="${canEdit == false}" sec:authorize="hasRole('ROLE_USER')">
            <div class="col-md-10 col-md-offset-1">
                <h3>Send a PM to this <span th:text="${profile.userName}"></span></h3>

                <div id="genericAlert" class="alert alert-warning alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>error!</strong> <span id="genericAlertText"></span>
                </div>

                <div id="genericWinAlert" class="alert alert-success alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>success!</strong>Private message to <span th:text="${profile.userName}"></span> has been sent!.
                    possible.
                </div>

                <div class="form-group">
                    <input id="userId" th:value="${profile.userId}" type="hidden"/>
                    <label>Title</label>
                    <input data-bind="value: title" id="txtTitle" class="form-control floating-label"
                           placeholder="What is this about?"/>

                </div>
                <br/>
                <br/>
                <label>Private Message</label>
                <textarea data-bind="value: content, text: content" id="txtContact" class="form-control floating-label"
                          placeholder="What's on your mind?" rows="8"></textarea>
                <br/>
                <button data-bind="click: sendIt" class="btn btn-raised btn-success">Send your message</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-offset-1" th:if="${profile.twitterName != null AND profile.twitterName != ''}">
                <h3>Twitter</h3>
                <a class="twitter-timeline" href="https://twitter.com/ScrappieWoW"
                   th:attr="data-screen-name=${profile.twitterName}" data-widget-id="582534150621687808">Tweets by
                    @ScrappieWoW</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
            </div>

            <div class="col-md-5 col-md-offset-1" th:if="${profile.twitchStream != null AND profile.twitchStream != ''}">
                <a class="embedly-card" th:href="${ 'http://twitch.tv/' + profile.twitchStream}"
                   th:text="${profile.twitchStream + ' - Twitch'}">StreamingForAnimals - Twitch</a>
                <script async="async" src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            </div>
        </div>
        <br/>
        <br/>
        <hr/>

    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script type="application/javascript" sec:authorize="hasRole('ROLE_USER')">
        var ViewModel = function () {
            var self = this;
            self.content = ko.observable("");
            self.title = ko.observable("");
            self.sendIt = function () {

                var command = {};
                command['title'] = self.title();
                command['content'] = self.content();
                var userId = $("#userId").val();
                command['toUserId'] = userId;
                var stringyfiedCommand = JSON.stringify(command);

                $.ajax({
                    url: '/contact/' + userId,
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: stringyfiedCommand, //Stringified Json Object
                    cache: false,    //This will force requested pages not to be cached by the browser
                    processData: false, //To avoid making query String instead of JSON
                    success: function (resposeJsonObject) {
                        console.log(resposeJsonObject);
                        if (resposeJsonObject.hasErrors) {
                            $("#genericAlertText").html(resposeJsonObject.errorMessage);
                            $("#genericAlert").show();
                        } else {
                            $("#genericAlert").hide();
                            $("#genericWinAlert").show();
                            self.content("");
                            self.title("");
                        }
                    }
                });
            };
        }
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        $("#tmwBox").click(function () {
            //do things
            //
        });

        $("#waBox").click(function () {
            //do things
        });

        $("#macroBox").click(function () {
            //do things
        });
    </script>

    <script th:src="@{/assets/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/assets/js/morris/morris.js}"></script>
    <script type="application/javascript" th:if="${profile.was != 0 || profile.tmws != 0 || profile.macros != 0}">
        Morris.Donut({
            element: 'morris-donut-chart',
            resize: true,
            data: [{
                label: "Macros",
                value: $("#macroCount").val()
            }, {
                label: "WeakAuras",
                value: $("#waCount").val()
            }, {
                label: "TellMeWhens",
                value: $("#tmwCount").val()
            }],
            resize: true
        });

    </script>

</div>

</html>