<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div layout:fragment="header">
    <title>Scrappie - Your World of Warcraft Consultant</title>
</div>
<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">

                <div th:if="${param.thankyou != null and param.thankyou[0] != null}" id="alertThankYou"
                     class="alert alert-success alert-dismissible collapse" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <strong>Thank You!</strong> Thank you for submitting your information. An admin will look into it
                    soon!
                </div>


                <h2>Hai there =)</h2>
                <h5>I'm Scrappie, your World of Warcraft Consultant!</h5>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-6">
                <h3>WeakAuras, TMW and Macros.</h3>

                <p>
                    As your personal assistant, I'll be providing you with all kinds of goodies to get you ready to
                    raid.
                    Using community websites, proven high-end raiders and crowdsourcing, I will <b>provide you</b> with
                    information to get you going, whether it's about specific raids, classes or even specs.
                </p>

                <p>
                    We would really love it if you would use this website instead of pastebin if you want to save,
                    update and share any of your
                    <b>Weakauras</b>, <b>TellMeWhens</b> or <b>Macros</b>. In the end, we'll
                    create a nice base of configurations which are easily searchable, indexable and updatable.</p>

                <blockquote><i>Together, we'll be able to create a commonplace for all that is WA/TMW and Macros!</i>
                </blockquote>
            </div>
            <div class="col-md-6">
                <h3>What's New?</h3>

                <p>
                <ul>
                    <li>Private Messaging</li>
                    <li><b>Registration has been opened up for everyone!</b></li>
                    <li>Your configuration-notes are now styled through <a
                            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">MarkDown!</a></li>
                    <li>Notifications when your configurations are approved.</li>
                    <li>Added some caching to speed up the application.</li>
                    <li>Small layout changes the users requested.</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-8 col-xs-8">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-envelope-o"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${waCount}">120</p>

                        <p class="text-muted">WeakAuras</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-bars"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${tmwCount}">30</p>

                        <p class="text-muted">TMW-Configs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-bell-o"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${macroCount}">240</p>

                        <p class="text-muted">Macros</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-brown set-icon">
                    <i class="fa fa-user"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${userCount}">1</p>

                        <p class="text-muted">Users</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h3>Contact Wowscrappie</h3>

                <p>Here's our tweet channel, which will feature the latest information on wowscrappie!</p>
                <a class="twitter-timeline" href="https://twitter.com/ScrappieWoW"
                   data-screen-name="ScrappieWoW" data-widget-id="582534150621687808">Tweets by
                    @ScrappieWoW</a>
                <script>!function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                        js = d.createElement(s);
                        js.id = id;
                        js.src = p + "://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }
                }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <hr/>
            <div class="col-md-offset-2 col-md-8">
                <h3>Coming Up!</h3>

                <p>
                    As we're constantly working to improve WoWScrappie, we've got a checklist that should be implemented
                    and fully
                    up and running by the end of <b>May 2015</b>!
                </p>

                <p>
                <ul>
                    <li>A vote System, so every share can get his own ScrapScore. <b>More Scrap = Less Crap</b></li>
                    <li>Request a configuration!</li>
                </ul>
                </p>

                <h3>Under Construction.</h3>

                <p>Yes, this delightful place of awesomeness is indeed under contruction, and it will be for quite some
                    time. Not because we're not confortable about the features, but because we iterate and deploy a new version each week.
                    The good part of continuous development, is that you'll all be able to first-handedly witness the
                    prototypal creation of this place.
                </p>

                <h3>Help is appreciated.</h3>

                <p> This site can only get better by the <b>help of you guys</b>. Scrappie has to <i>develop this site
                    all on his own</i>, and therefore he will rely
                    on the community to fill in the <b>content</b>. Recently, I've been getting real sad that there is
                    no real collection of useful weakauras, tellmewhen-configuration and
                    macros. Well yeah, here and there we can find some tips, but I want to see them gathered in one
                    place, and you can help!
                </p>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-4 text-center">
                <h4>Raids</h4>

                <p>
                    Weakauras, TellMeWhen configurations and macros for specific encounters can be found
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h4>Classes and Specs</h4>

                <p>
                    Weakauras, TellMeWhen configurations and macros for specific classes and specs can be found
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-4 text-center">
                <p>
                    <a class="btn btn-primary" th:href="@{/raids}">Here</a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <p>
                    <a class="btn btn-primary" th:href="@{/classes/index}">Here</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="jumbotron">
                    <h2>Contribute</h2>

                    <p>
                        Do you have any WeakAuras, TellMeWhens or macros you'd like to share with the community? Don't
                        hesitate and put them up for approval.
                        You can even include a screenshot of your UI if you like.
                    </p>
                    <a th:href="@{/contribute}" class="btn btn-primary btn-lg" role="button">Learn more</a>
                    <a th:href="@{/contact}" class="btn btn-primary btn-lg" role="button">Contact Us!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <script type="application/javascript">
            $.get('/admin/pending-uploads/count', function (data) {
                if (data > 0) {
                    $.snackbar({content: "Hey Admin! You still need to approve " + data + " configuration(s)!"});
                }
            })
        </script>
    </div>

    <script type="application/javascript">
        $("#alertThankYou").show();
    </script>
</div>
</html>