<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <title text="Highmaul - Scrappie"></title>
</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>Highmaul</h2>
                <h5>Tier 17</h5>
            </div>
        </div>
        <!-- /. ROW  -->
        <input id="raidId" type="hidden" th:value="${raidId}"/>
        <div id="top-wrapper">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/kargath_bladefist.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> Kargath Bladefist</p>

                            <p class="text-muted">
                                <span data-boss-id="1"
                                      class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(1L).macroCount}">0</span></span>
                                <span data-boss-id="1"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(1L).waCount}">0</span></span>
                                <span  data-boss-id="1"
                                       class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(1L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/the_butcher.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> The Butcher</p>

                            <p class="text-muted">
                                <span data-boss-id="2"
                                      class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(2L).macroCount}">0</span></span>
                                <span data-boss-id="2"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(2L).waCount}">0</span></span>
                                <span data-boss-id="2"
                                      class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(2L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/brackenspore.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> Brackenspore</p>

                            <p class="text-muted">
                            <span data-boss-id="3"
                                  class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(3L).macroCount}">0</span></span>
                                <span data-boss-id="3"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(3L).waCount}">0</span></span>
                                <span data-boss-id="3"
                                      class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(3L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/tectus_the_living_mountain.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> Tectus</p>

                            <p class="text-muted">
                             <span data-boss-id="4"
                                   class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(4L).macroCount}">0</span></span>
                                <span data-boss-id="4"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(4L).waCount}">0</span></span>
                                <span data-boss-id="4"
                                      class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(4L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/twin_ogron.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> Twin Ogron</p>

                            <p class="text-muted">
                           <span data-boss-id="5"
                                 class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(5L).macroCount}">0</span></span>
                                <span data-boss-id="5"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(5L).waCount}">0</span></span>
                                <span data-boss-id="5"
                                      class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(5L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/koragh.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text"> Ko'ragh</p>

                            <p class="text-muted">
                         <span data-boss-id="6"
                               class="btn btn-macro btn-primary btn-sm">Macros  <span class="badge" th:text="${overview.get(6L).macroCount}">0</span></span>
                                <span data-boss-id="6"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(6L).waCount}">0</span></span>
                                <span data-boss-id="6"
                                      class="btn btn-tmw btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(6L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="panel panel-back noti-box">
                <span class="icon-box set-icon">
                    <img th:src="@{/assets/img/T17/highmaul/portraits/imperator_margok.jpg}"/>
                </span>

                        <div class="text-box">
                            <p class="main-text">Imperator Mar'gok</p>

                            <p class="text-muted">
                          <span data-boss-id="7"
                                class="btn btn-macro btn-primary btn-sm">Macros <span class="badge" th:text="${overview.get(7L).macroCount}">0</span></span>
                                <span data-boss-id="7"
                                      class="btn btn-wa btn-primary btn-sm">WeakAuras <span class="badge" th:text="${overview.get(7L).waCount}">0</span></span>
                                <span data-boss-id="7"
                                      class="btn btn-macro btn-primary btn-sm">TMW <span class="badge" th:text="${overview.get(7L).tmwCount}">0</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="expand-button" class="row">
            <img id="arrowUpBtn" th:src="@{/assets/img/button_up.png}"/>
            <img id="arrowDownBtn" th:src="@{/assets/img/button_down.png}" style="display: none"/>
        </div>
        <hr/>
        <div class="row" style="margin-top: 5%;">
            <div class="col-md-10 col-md-offset-1">
                <div id="resultPane"></div>
            </div>
        </div>
        <!-- /. ROW  -->
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">
    <script th:src="@{/assets/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/assets/js/dataTables/dataTables.bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/sliding.js}"/>
    <script th:src="@{/assets/js/history.js}"></script>
    <script type="application/javascript" th:src="@{/assets/js/raids/highmaul.js}"></script>
    <script type="text/javascript" th:src="@{/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5}"/>

</div>

</html>