<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">


<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h3>Your Connections</h3>

                    <div class="accountConnection" th:each="providerId : ${providerIds}">
                        <h4><img th:src="@{#{${providerId} + '.icon'}}" width="36" height="36" /><span th:text="#{${providerId} + '.displayName'}">provider name</span></h4>
                        <p>
 				<span th:if="${!#lists.isEmpty(connectionMap[__${providerId}__])}">
					You are connected to <span th:text="#{${providerId} + '.displayName'}">provider name</span> as <span th:text="${connectionMap[__${providerId}__][0].displayName}">user display name</span>.
				</span>
				<span th:if="${#lists.isEmpty(connectionMap[__${providerId}__])}">
					You are not yet connected to <span th:text="#{${providerId} + '.displayName'}">provider name</span>.
				</span>
                            Click <a th:href="@{'/connect/' + ${providerId}}">here</a> to manage your <span th:text="#{${providerId} + '.displayName'}">provider name</span> connection.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->

<div layout:fragment="footer-content">

</div>

</html>