
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator">
<body>
<div layout:fragment="footer-content">


</div>

<div id="content" layout:fragment="main-content">

</div>

<div layout:fragment="footer-content">
    <script type="application/javascript">
        $(function() {
            window.location = "/contribute"
        });
    </script>
</div>
</body>
</html>