<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">
<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2 th:text="${config.name}">Name of the Configuration</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-8 col-xs-8">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-user"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text">Uploaded by</p>

                        <p class="text-muted" th:text="${config.uploader.username}">Pikachu</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-laptop"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text">Type</p>

                        <p class="text-muted" th:text="${configType}">TMW-Configs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-thumbs-o-up"></i>
                </span>

                    <div class="text-box">
                        <p class="main-text" th:text="${rating}">240</p>

                        <p class="text-muted">ScrapScore</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group">
                    <label>Comments</label>
                    <pre th:text="${config.comment}"></pre>
                </div>
                <div class="form-group">
                    <label>Value</label>
                    <textarea th:text="${config.actualValue}" class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hr />
                <div class="form-group">
                    <label>Images</label>
                    <br />
                    <div th:if="${screenshots.size() == 0}" class="alert alert-success">No images or screenshots were provided.</div>

                    <div th:if="${screenshots.size() > 0}"  id="images">
                        <a th:each="screenshot: ${screenshots}" class="fancybox" rel="group" th:href="'/shared/image/' + ${screenshot.reference}">
                            <img th:src="'/shared/image/thumbnail-' + ${screenshot.reference}"  alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <br/>

        <div class="row" >
            <div class="col-md-5 col-md-offset-1">
                <button id="copy-button" th:attr="data-clipboard-text=${config.actualValue}" class="btn btn-primary">
                    Copy to clipboard
                </button>
                <button class="btn btn-primary" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class=" fa fa-thumbs-o-up " ></i> Upvote
                </button>
                <button class="btn btn-danger" sec:authorize="hasRole('ROLE_ADMIN')">
                    <i class=" fa fa-thumbs-o-down " ></i> Downvote
                </button>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
<div layout:fragment="footer-content">
    <script type="application/javascript" th:src="@{/assets/zeroclipboard/ZeroClipboard.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/fancybox/jquery.fancybox.pack.js?v=2.1.5}" />

    <script type="application/javascript">
        function doClipboardBinding() {
            new ZeroClipboard($("#copy-button"));
        }
        $(document).ready(function() {
            $(".fancybox").fancybox();
            ZeroClipboard.config({swfPath: "/assets/zeroclipboard/ZeroClipboard.swf"});
            doClipboardBinding();
        });
    </script>
</div>

</html>