<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <meta name="description" content="Ask anything related to weakauras, tellmewhen, macros, lua and user interfaces - Scrappie" />
    <meta name="keywords" content="weakauras, weakaura, weakaura strings, class, tellmewhen, macro, macros, spec,
                                    hunter, druid, warlock, paladin, shaman,
                                    death knight, mage, monk, priest, rogue, warrior" />
    <title>Questions - Scrappie</title>
</div>

<div layout:fragment="main-content">
    <div id="page-inner">

        <div class="row">
            <div class="col-md-12">
                <h2>Questions and Requests</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" th:each="question, iterStat : ${questions.content}">
                    <div class="panel-body">
                        <div class="col-md-1">
                            <p>
                                <p data-score="25"
                                        class="btn btn-primary
                                    btn-circle score">
                                    25<br />
                                    {ss}
                                </p>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>
                                <i class="fa fa-question-circle fa-5x"></i>
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <a th:href="@{'/questions/' + ${question.id}}" th:text="${question.title}">
                                                                    Question will come here

                                </a>
                                <br/>
                                <small>posted</small>
                                <small th:text="${question.originalPostDatePretty}"></small>
                                <small>by</small>
                                <small th:text="${question.poster}"></small>
                            </p>
                            <p>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1">
                    <button th:attr="data-previous_page_id=${questions.number-1}"
                            id="btnPrevious"
                            th:if="${questions.number != 0}"
                            class="btn btn-primary">
                        previous
                    </button>
                </div>
                <div class="col-md-10">
                </div>
                <div class="col-md-1">
                    <button th:attr="data-next_page_id=${questions.number+1}"
                            id="btnNext"
                            th:if="${all.hasNext()}"
                            class="btn btn-primary">
                        next
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. layout fragment -->
<div layout:fragment="footer-content">
    <script type="application/javascript" th:src="@{/assets/js/custom/questions/questionlist.js}">
    </script>
</div>
</html>