<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="decorator/wa-decorator">

<div layout:fragment="header">
    <title>Post was not found - Scrappie</title>
</div>

<div layout:fragment="main-content">
    <div id="page-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Unfortunately, this post was not found</h2>
                </div>

            </div>
        </div>
    </div>
</div>

<div layout:fragment="footer-content">

</div>
</html>